th {
    text-align: center;
}
@media print {
    .navbar-nav {
        display: none;
    }
    .navbar {
        display: none;
    }
    .form-control {
        display: none;
    }
    .btn {
        display: none;
    }
    .statistik {
        display: none;
    }
    .report, #tampilPrint, #tampilPerawatan {
        
        display: block !important;
    }
    .card-header {
        display: none;
    }
    #judul-inv{
        font-family: 'Times New Roman';
    }
    #koleksi{
        font-family: 'Times New Roman';

    }
    #juduldatakoleksi, #namakoleksi {
        display: none;
    }
    #print {
        display: none;
    }
    .sticky-footer, .card{
        display: none;
    }
    
    
    
}
.report{
    display: none;
}
.dt-input{
    margin-right: 10px;
}
#tampilPrint{
    font-size: 14pt;
    display: none;
    /* padding-left: 50px; */
}
#tampilPerawatan{
    font-size: 12pt;
    display: none;
    font-family: 'Times New Roman';
}