th {
    text-align: center;
}
@media print {
    .navbar-nav, .navbar, .form-control, .btn, .statistik, .card-header, #juduldatakoleksi, #namakoleksi, #print, .sticky-footer, .card{
        display: none;
    }
    .report,  #tampilPerawatan,#tampilPrint  {
        
        display: block !important;
    }
    #judul-inv, #koleksi{
        font-family: 'Times New Roman';
    }
}
.report, #tampilPrint, #tampilPerawatan{
    display: none;
}
.dt-input{
    margin-right: 10px;
}
#tampilPrint{
    font-size: 14pt;
}
#tampilPerawatan{
    font-size: 12pt;
    font-family: 'Times New Roman';
}
.table-responsive, #dataTable {
    font-size: 10pt;
    
}
.row, .form-control{
    font-size: 11pt;
}

input:required:invalid{
    outline: 2px solid red;
    border-radius: 2px;
    border: none;
}
