th {
    text-align: center;
}
@media print {
    .navbar-nav {
        display: none;
    }
    .navbar {
        display: none;
    }
    .form-control {
        display: none;
    }
    .btn {
        display: none;
    }
    .statistik {
        display: none;
    }
    .report {
        
        display: block !important;
    }
    
}
.report{
    display: none;
}
